.container{
    display: grid;
    margin: 1px;
}

p{
    text-align: center;
    color: #575756;
    margin: 0px 0px 15px 0px;
    padding: 2px;
    font-size: 1em;
    font-weight: 500;
}

.container{
    background: #ffffffbf;
    margin: 20px 0px;
    padding: 10px 20px 10px 20px;
    border-radius: 3px;
    border: 1px solid #c5c5c5;
}

.form{
    width: 100%;
    display: flex;
    flex-direction:column;
    align-items:flex-end;
    justify-content: center;
}

label{
    font-size: 9pt;
}

.textoin{
    margin: 5px;
    border-radius: 3px;
    padding: 4px;
    border: 1px solid #c5c5c5;
    background: #f6f6f6;
    color: #454545;
}

button{
    color: #fff;
    background-color: #81b932;
    border-radius: 3px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 15px;
}